:root {
  /* Primarys */
  --Tomato: hsl(4, 100%, 67%);
  /* Neutral */
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  /* Font Size */
  --Font-size-p: 16px;
  --error: #ffe8e6;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Charcoal-Grey);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  margin-top: 20%;
  padding: 40px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
li {
  display: flex;
}
li:last-child {
  margin-bottom: 45px;
}

h1 {
  margin-bottom: 10px;
}

div {
  padding: 0 25px 25px 25px;
}
.first-section {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 559px;
  border-radius: 24px;
  height: auto;
}
.img--main {
  margin-bottom: 45px;
  width: 100%;
  min-width: 200px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.container--p {
  margin-bottom: 38px;
}

.li-img {
  width: 21px;
  height: 21px;
  margin-right: 18px;
}
.email-p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}
.email-input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--Grey);
  width: 100%;
  margin-bottom: 25px;
}
.email-input:focus {
  border: 2px solid blue;
}
.button-submit:hover {
  background-color: rgb(255, 83, 121);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 121, 1) 35%,
    rgba(255, 105, 62, 1) 66%
  );
  -webkit-box-shadow: 0px 20px 50px -6px rgba(255, 96, 86, 0.63);
  -moz-box-shadow: 0px 20px 50px -6px rgba(255, 96, 86, 0.63);
  box-shadow: 0px 20px 50px -6px rgba(255, 96, 86, 0.63);
}
.button-submit {
  background: var(--Dark-Slate-Grey);
  border-style: none;
  color: var(--White);
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease;
}

.error-content {
  display: flex;
  justify-content: space-between;
}
.error-warning {
  background-color: var(--error);
  border-color: var(--Tomato);
}
.error-warning::placeholder {
  color: var(--Tomato);
}
.error-warning-text {
  color: var(--Tomato);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.display {
  display: block;
}

.none {
  display: none;
}
.second-section {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 359px;
  border-radius: 24px;
  max-height: 700px;
  padding: 34px;
  align-items: center;
}
.second-section h2 {
  margin: 12px 0;
  font-size: 40px;
  font-weight: bold;
}
.second-section img {
  margin-bottom: 30px;
}
.second-section section {
  margin: 30% 0 70% 0;
}
.second-section p {
  margin-top: 30px;
  color: black;
  font-weight: 400;
  line-height: 24px;
}
.second-section button {
  margin-bottom: 40px;
}
.text-email {
  font-weight: bold;
}

/*Media Querys*/
@media (width >= 560px) {
  body {
    margin: 0;
  }
  .first-section {
    max-height: 930px;
    max-width: 900px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
  }
  .img--main {
    content: url(./assets/images/illustration-sign-up-desktop.svg);
    margin: 0;
    width: 40%;
    height: auto;
    object-fit: contain;
    border-radius: 0;
  }
  div {
    width: 50%;
  }
  .clase {
    width: 50%;
  }
  h1 {
    margin: 50px 0 20px 0;
    font-weight: 900;
    font-size: 50px;
  }
  .second-section {
    background-color: var(--White);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    border-radius: 24px;
    height: auto;
    padding: 44px;
    align-items: center;
  }
  .second-section h2 {
    margin: 12px 0;
    font-size: 40px;
    font-weight: bold;
  }
  .second-section img {
    margin-bottom: 20px;
  }
  .second-section section {
    margin: 10px;
  }
  .second-section p {
    margin: 30px 0;
    color: black;
    font-weight: 400;
    line-height: 24px;
  }
  .second-section button {
    margin-bottom: 0px;
  }
}
/* Arreglar imagen para que sea responsive */
